[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
numpy = "*"
datetime = "*"
python-dotenv = "*"
requests = "*"
selenium = "*"
chromedriver-binary = "==114.0.5735.90.0"

[dev-packages]

[requires]
python_version = "3.11"
